
<% if @next_node %>
  <p> <h2> Your last node was <%= @current_node.title %> </h2></p> 
  <p> <%= link_to image_tag(@previous_movie_poster), "/games", method: :get %> </p>

  <h2> Your current node is: </h2>


  <% @posters.each do |poster| %>
    <% if poster[:right] %>
      <%= link_to image_tag(poster[:poster]), "/movie_nodes/#{@next_node.id}", method: :patch %>
    <% else %>
      <%= link_to image_tag(poster[:poster]), "/games", method: :get %>
    <% end %>
  <% end %>

<% else %>
  <h1> YOU WON </h1>
<% end %>




